body {
  background: #f1f1f1;
}


table, th, td {
	margin: auto;
	border:1px solid grey;
	font-size: 20px;
	width:70%;
	height:100px;
	text-align: left;
	padding: 30px
}

/*table {
	display: inline-block;
}*/

#title {
	margin: auto;
	font-size: 50px;
	background: lightgrey;
	width:70%;
	margin-bottom: 70px;
}

/*#table {
	height: 50px;
}*/

#searchBox, #addToList {
	/*display: inline-block;*/
	margin-left: 15%;
	width: 40%;
	border: 1px solid grey;
	margin-bottom: 20px;
}